<%- include header %>
  	<div class="content">
  		<div class="cell">
  			<% if(mind.user){ %>
  			<div class="cell_author">
  				<img src="<%=mind.user.photo%>" title="<%=mind.user.nickname%>">
  				<a href="/theuserminds?uid=<%=mind.user._id%>"><%=mind.user.nickname%></a>
  			</div>
  			<%}%>
  			<div class="cell_text" title='<%= mind.cdate.minute %>' >
				<%= mind.content %>  				
  			</div>
  			<div class="cell_bar">
  				<ul style="padding:0">
  					<li><a id="putups<%= mind._id %>" name="putups" href="javascript:putUps('<%= mind._id %>');" title="<%=mind.ups%>个赞" >赞[<%=mind.ups%>]</a></li>
  					<li><a id="putdowns<%= mind._id %>" name="putdowns" href="javascript:putDowns('<%= mind._id %>')" title="<%=mind.downs%>个踩">踩[<%=mind.downs%>]</a></li>
  				</ul>
  				<ul class="cell_bar_comm">
  					<div class="bshare-custom" style="float:right;height:28px;margin-top: 4px;"><a title="分享到QQ空间" class="bshare-qzone"></a>
  					<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
  					<a title="分享到人人网" class="bshare-renren"></a>
  					<a title="分享到腾讯微博" class="bshare-qqmb"></a>
  					<a title="分享到网易微博" class="bshare-neteasemb"></a>
  					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=;pophcol=2&amp;lang=zh"></script>
  					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
  					<script type="text/javascript" charset="utf-8">
						bShare.addEntry({
					        title:"OMind分享",
					        summary:'<%= mind.content %>' ,
							vUid:'' , vEmail:'', vTag:'OMinds'});
					</script>
  				</ul>
  			</div>
  		</div>
  	</div>
  	
  	<div class="content">
  		<% comments.forEach(function (comment, index) { %>
  		<div class="cell" style="padding:14px 16px;margin-bottom:8px;">
  			<div class="cell_text" title='<%= comment.cdate.second %>' style="min-height:40px;_height:40px;">
  				<% if(comment.user){ %><div class="comm imgmid"><% if(comment.user){ %><a href="/more?uid=<%=comment.user._id%>"><img src="<%=comment.user.photo%>" title="<%=comment.user.nickname%>" class="commphoto"></a><%}%><span class="imgmid"></span></div><%}%>
  				<div style="margin:0 auto;vertical-align: middle;min-height:40px;_height:40px;">
  				<%= comment.content %>
  				</div>
  			</div>
  		</div>
  		<% }) %>
  	</div>
  	<div class="main">
  		<div class="upideas_content clear_fix">
  			<div class="up_content clear_fix">
  				<div class="up_content_text" style="width:644px;">
  					<form method="post" action="/docomment" >
  						<input type="hidden" id="oid" name="oid" value="<%=mind._id%>">
  						<textarea id="idea_text" name="comm_text" class="up_idea_text" style="width:620px;" rows="4" required placeholder="无需登录，快速回复..." ></textarea>
  						<span class="up_idea_err"><%= error %></span><button type="submit" class="up_idea_btn" id="idea_btn" >回复</button>
  					</form>
  				</div>
  			</div>
  		</div>
  	</div>
  	<script type="text/javascript">
  	function putUps(oid){
			var params ={
                oid:oid
            };
            $.ajax({
                data: params,
                url: '/addups',
                type:'post',
                jsonpCallback: 'callback',
                success: function(data){
                	console.log(data);
                  $('#putups'+oid).attr("title",data+'个赞');
                  $('#putups'+oid).html("赞["+data+"]");
                  
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert('error ' + textStatus + " " + errorThrown);  
                }
            });
		}
		function putDowns(oid){
			var params ={
                oid:oid
            };
            $.ajax({
                data: params,
                url: '/addowns',
                type:'post',
                jsonpCallback: 'callback',
                success: function(data){
                  $('#putdowns'+oid).attr("title",data+'个踩');
                  $('#putdowns'+oid).html("踩["+data+"]");
                  
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert('error ' + textStatus + " " + errorThrown);  
                }
            });
		}
	</script>
<%- include footer %>
